[Unit]
Description=RCP App Gateway
After=network-online.target ns-proxy.service
Wants=network-online.target

[Service]
Type=simple
User=return
Group=return

EnvironmentFile=/etc/rcp/app-gateway.env
WorkingDirectory=/home/return/rcp-server
ExecStart=/home/return/rcp-server/app-gateway

NoNewPrivileges=true
ProtectSystem=full
PrivateTmp=true

Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
